<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1>All Customer Contacts</h1>             
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for customer in customer_data.Contacts %}
          <tr>
              <th scope="row">1</th>
              <td>{{customer.FirstName}}</td>
              <td>{{customer.LastName}}</td>
              <td>{{customer.EmailAddress}}</td>
              <td><a href = "https://deaninfo.com/Symfony/public/index.php/invoice/{{customer.ContactID}}/{{access_token}}">Add Invoice</a></td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>
